/*  ECOMMERCE PAGE */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    padding-top: 60px; /* Account for fixed navbar height */
    margin: 0;
    /* height: 100%;
    display: flex;
    flex-direction: column; */
    position: relative;
    height: auto;
    min-height: 100vh;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
  
/* COLORS */
:root {
    --segment-green: #4fb58b;
    --text-white: #ffffff;
    --text-dark: #333333;
}

.white-text {
    color: var(--text-white);
}

.segment-green-text {
    color: var(--segment-green);
}

.bkgrdSegmentGreen {
    background-color: var(--segment-green);
}

.ecommerce-header {
    position : fixed;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    z-index: 10;
}

#searchBar {
    margin: 10px 0;
    padding: 5px;
    width: 300px;
}

#tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    background-color: #4fb58b;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #36996d;
}

main {
    margin: 7em 280px 0 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    /* width: 300px; width of cart sidebar is 300px */
}

#products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
}

.category {
    width: 100%;
    /* height: 25em; */
}

.category-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling */
    white-space: nowrap; /* Prevent line breaks */
    /* padding: 2.2em 0; */
    scroll-behavior: smooth; /* Smooth scrolling */
    /* height: 20em; */
}

.carousel-track {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden; /* Hide vertical scrolling */
    /* height: 10em; */
    padding: 10px 0; /* This padding ensures full product is visible */

}

.carousel {
    position: relative;
    height: 300px; /* Set a fixed height for the carousel */
    margin: 20px 0 0 0;
    /* padding: 0 3em 0 0; */
}

.carousel h3 {
    /* margin-bottom: 10px; */
    text-align: left;
    margin-left: 4em;
}

.carousel-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* gap: 15px; */
    /* padding: 3em 0; */
}

.product-row {
    display: flex;
    /* gap: 1em; */
    /* padding: 1em 0; */

}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    /* margin : 0 4em 0 0; */
}

.carousel-button.left {
    left: 5px;
}

.carousel-button.right {
    right: 5px;
}

/* .carousel-button:active {
    border: 1px solid #ddd;
} */
    

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 1em 2em .5em 2em;
    margin: 0 2em;
    width: 17em;
    height: 17em;
    flex-shrink: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
    
.price {
    color: grey;
    font-size: 22px;
}

.productDescription{
    font-size: small;
    line-height: 1em;
    padding : 0 .4em 0 0;
    height : 4em;
    overflow-y: scroll;
}

.product button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    /* background-color: var(--segment-green); */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
    
.product button:hover {
    opacity: 0.7;
}  

.product div{
    display: flex;
    
}

.product-cart, .product-bookmark {
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    margin: 0 1em -2em 1em;
    /* padding: .5em; */
    /* border: 1px solid #dbf0e7; */

}

.product-cart:hover, .product-bookmark:hover {
    transform: scale(1.3);
}

#cartList p{
    width:100%;
    margin : 0 1em;
}

.left {
    /* position: left; */
    left: 0;
}

.right {
    /* position: right; */
    right:0;
}

.bookmark-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 7em;
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transform: translateY(100%); */
    /* Hidden by default */
    transition: transform 0.3s ease-in-out;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);

}
.bookmark-footer.open {
    transform: translateY(0);/* Visible when open */
}
.bookmarked-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

/* .bookmark-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);  */
    /* Hidden by default */
/* } */

/* .bookmark-footer.open { */
    /* transform: translateY(0);  */
    /* Visible when open */
/* } */

/* .bookmarked-list {
    display: flex;
    gap: 10px;
} */


/* .product img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
} */


#cartSidebar {
    position: fixed;
    right: 0;
    top: 10em;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.hidden {
    display: none;
}

#cartList {
    list-style: none;
    padding: 0;
}

