<!-- LEFT SIDEBAR -->
<div id="leftSidebarWrapper">
    <div id="sidebar-container">
        <nav class="col-md-3 sidebar sidebar-left" id="leftSidebarContent">
            <div class="left-sidebar-content">
                <i id=toggleLeftSidebar class="bi bi-person toggle-icon left" style="font-size: 2rem;"></i>
                <h3 id="userProfileHeader">User Profile</h3>
            </div>
            <button type="button" class="btn btn-info" id="check-data">Check Data</button>
                        
            <div id="user-profile">
                <h5>User Data</h5>
                <ul id="user-list">
                    <li class="hidden">test</li>
                    <!-- user form data added as li -->
                </ul>
            </div>
        </nav>
    </div>
</div>
<div id="resizer-left" class="resizer left"></div>