<!-- RIGHT SIDEBAR -->
            <!-- <div class="sidebar-content"> -->
                <div id="resizer-right" class="resizer right"></div>
                <div id="rightSidebarWrapper">
                    <div class="sidebar-container">
                        <nav class="col-md-3 sidebar sidebar-right" id="rightSidebarContent">
                            <i id="toggleRightSidebar" class="bi bi-cookie toggle-icon right" style="font-size: 3rem; color:#4fb58b;"></i>
                            <div>
                                <h5>Local Storage Cookies</h5>
                                <ul class="cookie-list" id="local-storage-cookies">
                                    <!-- LOCAL STORAGE COOKIES AS LI -->
                                </ul>
                            </div>
                            <div>
                                <h5>Client Cookies</h5>
                                <ul class="cookie-list" id="client-cookies">
                                    <!-- COOKIES AS LI -->
                                </ul>
                            </div>
                            <div>
                                <h5>Segment Network Requests</h5>
                                <div id="segment-network-requests"></div>
                                <!-- NETWORK REQUESTS AS LI -->
                            </div>
                            <div>
                                <p><button class="btn btn-secondary" id="userId-cookie-get" data-target="userId-p">userId</button>
                                : </p><p class="click-mouse" id="userId-p"></p>
                                <p><button class="btn btn-secondary" id="anonymousId-cookie-get" data-target="anonymousId-p">anonymousId</button>
                                : </p><p class="click-mouse" id="anonymousId-p"></p>
                                <p><button class="btn btn-secondary" id="traits-cookie-get" data-target="traits-p">traits</button>
                                : </p><p class="click-mouse" id="traits-p"></p>
                                <p><button class="btn btn-secondary" id="groupId-cookie-get" data-target="groupId-p">groupId</button>
                                : </p><p class="click-mouse" id="groupId-p"></p>
                                <p><button class="btn btn-secondary" id="groupTraits-cookie-get" data-target="groupTraits-p">groupTraits</button>
                                : </p><p class="click-mouse" id="groupTraits-p"></p>
                            </div>
                        </nav>
                    </div> <!-- Close sidebar-container -->
                </div> <!-- Close rightSidebarWrapper -->